body{ 
  
    background-color: rgba(73, 70, 70, 0.89);
    font-family: 'Courier New';
    background:  rgba(73, 70, 70, 0.89);
    animation: mymove 5s ease-out;
  }
    @keyframes mymove {
      from {background-color: rgb(0, 0, 0);}
      to {background-color:  rgba(73, 70, 70, 0.89)}
    } 
    
    
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}  
li {
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  }
li{
  background-color: rgba(75, 82, 105, 0.89);
  
  border: 2px solid #000000
}
li:hover{
  background-color: #070ac7;
  color: white;
}
label {
  display: block;
  margin: 10px 0 5px;

}
input, select, textarea {
  width: 33%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="radio"], input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #2b2d8a;
}
fieldset{
  color: #fffdfd;
 
}
legend{
  color: #ffffff;
  
}
.form-container,.container1{
  text-align: center;
}


#btnCargar{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #070ac7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
nav ul li a{
  font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #070ac7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
body.container1  {
  background-image: url('md.webp'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

}

.acerca-de { 
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #acb1af;
  border-radius: 8px;
  max-height: 300px; 
  overflow-y: auto;
  position: relative;
}
.sticky{
  position: sticky;
  top: 0; 
  background-color: #f4f4f4;
  padding: 10px;
  font-weight: bold;
  z-index: 1000;



}
.volver-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  transition: background-color 0.3s;
}

.volver-arriba:hover {
  background-color: #555;
}
.encabezado {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #6d6d6d;
  color: rgb(255, 244, 244);
  padding: 10px;
  text-align: center;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-logo {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.logo {
  width: 50px;
  height: 50px;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d; 
}

.logo:hover {
  transform: rotateY(360deg); 
}
.encabezado {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #6d6d6d;
  color: rgb(255, 244, 244);
  padding: 10px;
  text-align: center;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.acomodamiento {
  position: sticky;
  top: 100px; 
  background-color: rgba(75, 82, 105, 0.89);
  padding: 10px;
  z-index: 999;
}
main {
  padding-top: 150px; 
}
.encabezado2{
  position: fixed;
  top: 0;
  width: 100%; 
  height: 60px; 
  max-height: 80px; 
  
  background-color: #6d6d6d;
  color: rgb(255, 244, 244);
  padding: 10px;
  text-align: center;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}










