body{
    background-color: rgb(164, 235, 240);
    font-family: 'Courier New', monospace;
    background:  rgb(164, 235, 240);
    animation: mymove 5s ease-out;
  }
    @keyframes mymove {
      from {background-color: rgb(0, 0, 0);}
      to {background-color:  rgb(164, 235, 240)}
    } 